<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Physics Simulator and Temperature Sensor</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
        <div class="layout-container">
            <aside class="sidebar">
                <h1>Engineering Workbench</h1>
                <nav>
                    <ul>
                        <li>Dashboard</li>
                        <li></li>
                    </ul>
                </nav>
            </aside>
        </div>

    <h2>Welcome!</h2>

    <h2>Recent Projects</h2>
    <div class="project-list">
        <ul>
            <li>
                <a href="/physics">Projectile Simulator</a></li>
            <li>Temperature Logger</li>
            <li>Lab Data</li>
    </ul></div>

    <h2>Recent Files</h2>
    <div class="files-list">
        <ul>
        <li>trajectory.csv</li>
        <li>tempSensor.csv</li>
    </ul>
    </div>

</body>
</html>